
.textonosotros{

    font-size: medium;
    color: black;
    background-color: grey;
    text-shadow: 5px;
}

.metodospago{
background-color: grey;
}
.envios{
    background-color: grey;
}