footer {
    padding: 30px;
    background-color: rgb(78, 77, 77);
  
  }
  
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
  }
  .buttons a{
    text-decoration: none;
    font-size: 40px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    transition: all .4s ease-in-out;
  }
  .buttons a:hover{
    transform: scale(1.3);
  }